<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TNTT Nam Hòa</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Tìm kiếm"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Refresh - khởi tạo lại danh sách ban đầu -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list #scheduleList [hidden]="userLength === 0">
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label>
          Nghĩa Sĩ
        </ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let user of users" routerLink="/tai-khoan/{{user.id}}" [attr.track]="'nghia-si' | lowercase">
        <ion-avatar>
          <img src="http://res.cloudinary.com/tnttnamhoa/image/upload/d_default.png/c_crop,g_face,h_400,r_max,w_400/c_scale,w_50/v1/profile/{{user.id}}">
        </ion-avatar>
        <ion-label>
          <h3>{{user.ho_va_ten}}</h3>
          <p>
            Cấp 2 - Đội 1
          </p>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <!-- No data -->
  <ion-list-header [hidden]="!queryText || userLength > 0">
    Không tìm thấy dữ liệu!
  </ion-list-header>

  <!-- Load more - paging -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>